[Unit]
Description = Blitz Dashboard Trainer
BindsTo = network-online.target redis.service
After = network-online.target redis.service

[Service]
ExecStart = /home/pi/bin/blitz-dashboard \
    -v \
    train \
    --lr=0.05 \
    -r=0.09 \
    --factors=8 \
    --time-span=48h \
    --redis-uri="redis+unix:///var/run/redis/redis-server.sock"
WorkingDirectory = /home/pi
StandardOutput = journal
StandardError = journal
Restart = always
RestartSec = 5
User = pi

[Install]
WantedBy = multi-user.target
