:root {
    --color-black: hsl(0, 0%, 4%);
    --color-grey-darker: hsl(0, 0%, 21%);
    --color-grey-lighter: hsl(0, 0%, 86%);
}

.is-white-space-nowrap {
    white-space: nowrap !important;
}

.icon-text .flag-icon {
    flex-grow: 0;
    flex-shrink: 0;
}

.icon-text .flag-icon:not(:first-child) {
    margin-left: 0.25em;
}

.icon-text .flag-icon:not(:last-child) {
    margin-right: 0.25em;
}

.flag-icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.flag-icon:before {
    content: '\00a0';
}

.flag-icon-cn {
    background-image: url(/static/flags/cn.svg);
}

.flag-icon-de {
    background-image: url(/static/flags/de.svg);
}

.flag-icon-eu {
    background-image: url(/static/flags/eu.svg);
}

.flag-icon-fr {
    background-image: url(/static/flags/fr.svg);
}

.flag-icon-gb {
    background-image: url(/static/flags/gb.svg);
}

.flag-icon-jp {
    background-image: url(/static/flags/jp.svg);
}

.flag-icon-su {
    background-image: url(/static/flags/su.svg);
}

.flag-icon-us {
    background-image: url(/static/flags/us.svg);
}

.flag-icon-xx {
    background-image: url(/static/flags/xx.svg);
}

@media (prefers-color-scheme: dark) {
    .select select {
        background-color: var(--color-black);
        border-color: var(--color-grey-darker);
        color: var(--color-grey-lighter);
        box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1);
    }

    .has-background-success-light {
        background-color: hsl(141, 53%, 14%) !important;
    }

    .has-background-danger-light {
        background-color: hsl(348, 86%, 14%) !important;
    }

    .table tbody tr:last-child td, .table tbody tr:last-child th {
        border-bottom-width: 1px;
    }
}
